@page
@using Karttt.Interfaces;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model IndexModel;
@{
    ViewData["Title"] = "Home page";
}

<div class="mb-5">
    <h1 class="display-4">Welcome!</h1>
</div>

<div class="d-flex flex-wrap justify-content-between">
    @{
        foreach (IKartItem kartItem in Model.AvailableKartItems)
        {
            <form method="post">
                <input class="visually-hidden" value="@kartItem.Id" asp-for="KartItem!.Id" />
                <input class="visually-hidden" value="@kartItem.Name" asp-for="KartItem!.Name" />
                <input class="visually-hidden" value="@kartItem.IsItemAddedToKart" asp-for="KartItem!.IsItemAddedToKart" />
                <div class="card shadow mb-5" style="width: 18rem; border: 0;">
                    <div class="card-body">
                        <h5 class="card-title">@kartItem.Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        @{
                            if (kartItem.IsItemAddedToKart)
                            {
                                <button type="submit" class="btn btn-danger float-end" id='@(kartItem.Id.ToString() + "_" + "btn")'>Remove From cart</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success float-end" id='@(kartItem.Id.ToString()  + "_" + "btn")'>Add to cart</button>
                            }
                        }
                    </div>
                </div>
            </form>
        }
    }
</div>